nav {
    background-color:  lightslategrey; /* define a cor de fundo do menu */
    
    display: flex;                /* ativa o layout flexível (Flexbox) */
    
    justify-content: space-around; /* distribui os links com espaço ao redor */
    
    align-items: center;         /* alinha os itens verticalmente no centro */
    
    padding: 25px;               /* espaço interno (topo, baixo, esquerda, direita) */
    
    border-radius: 10px;         /* arredonda os cantos do nav */
    
    text-decoration: none;       /* NÃO funciona aqui para links (ver observação abaixo) */
}

/* CORRETO → aplicar nos links */
nav a {
    text-decoration: none;       /* remove o underline dos links */
    color: white;                /* define a cor do texto */
}


.container {
    background-color: lightslategrey;
    display: flex;           /* ativa o flex */
    flex-direction: row-reverse;  /* coloca um abaixo do outro */
    justify-content: center; /* centraliza vertical */
    align-items: stretch;     /* centraliza horizontal */
    gap: 10px;               /* espaço entre os elementos */
    margin-top: 2px;        /*espaço acima */
    /* margin-bottom: 10px;    espaço abaixo */
    border: none;/* Remove a borda */
    border-radius: 20px;/* Arredonda os cantos */
    padding: 45px; /* Espaço interno (topo, baixo, esquerda, direita) */
    margin-bottom: 10px;
}


#imagem {
    background-image: url("../Detalhes/Imagem/compressor.jpg");/* Define a imagem de fundo */
    float: left;
    width: 25px;
    height: 210px;           /* Define a altura do banner como "auto" para que ele se adapte ao conteúdo */
    /* Responsividade */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Centralização do conteúdo */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
      padding: 10%; /* Padding fixo evita distorções em telas menores */
}


/* container dos cards */
.cards {
    display: inline-flex;
    /* ativa Flexbox */
    flex-direction: row-reverse;
    /* coloca os cards em coluna (um abaixo do outro) */
    gap: 15px;
    /* espaço entre os cards */
    background-color: white;
    border-radius: 10px;
    padding: 15px;

}

/* Rodapé Fixo no Final */
footer {
    background-color: lightslategray;/* Define a cor de fundo do rodapé */
    color: white;/* Define a cor do texto do rodapé */
    text-align: center;/* Alinha o texto ao centro */
    padding: 35px; /* Padding fixo evita distorções em telas menores */
    border-radius: 15px;/* Arredonda os cantos */
    gap: 25px;/* Espaço entre os elementos */
    margin-top: auto;/* Espaço acima */
}

footer h4 {
    margin: 0;/* Remove o espaço interno do h4 */
}

/* ================== Responsividade ============================== */

#celular {
    display: block;/*Mostra conteúdo para celular.  */

}

#Tablet {
    display: none;/*Esconde conteúdo para tablet.  */

}

#PC {

    display: none;/* Esconde conteúdo para PC. */
}

@media (min-width:360px) {

    body {
     /* Muda fundo para lightslategray.*/
        background-color: lightslategray;

    }
/* Esconde Tablet e PC*/
    #Tablet,
    #PC {
 /* mostra só celular.   */
        display: none;
    }

}

@media (min-width:768px) {
   
    body {
         /*Fundo vira lightyellow.*/
        background-color: lightyellow;
    }
  /* Esconde celular e PC*/
    #celular,
    #PC {

        display: none;

    }
  /* mostra Tablet.*/
    #Tablet {

        display: block;
    }
}

@media (min-width:1024px) {
/*Fundo vira thistle (roxo claro).*/
    body {

        background-color: white;
    }
   /* Esconde celular e Tablet*/
    #celular,
    #Tablet {

        display: none;

    }
   /*  mostra PC. */ 
       #PC {

        display: block;
    }

}